@{
    ViewBag.Title = "Index";
}

<script>updateBudgetSummary();</script>
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br/>
    <br/>
    <div>
        <input id="file" name="file" type="file" value" /> <br />

        @Html.DropDownList("AccountID", new SelectList(ViewBag.Accounts, "AccountID", "AccountName"), "Choose an account", new { @class = "form-control" }) <br />
        @*@Html.TextBox("file", "", new { type = "file" }) <br />*@ 
        
        <input type="submit" class="btn btn-success" value="Upload" />
        <p>@ViewBag.Message</p>
    </div>


}


  


