@using PersonalFinanceApplication.Models
@model Dictionary<string[],string>
@{
    ViewBag.Title = "ResolveFailedRows";
}

<h2>ResolveFailedRows</h2>

<table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Error Message</th>
    </tr>
    
    @foreach (KeyValuePair<string[], string> item in Model)
    {
        <tr>
            <td>@item.Key[0]</td>
            <td>@item.Key[1]</td>
            <td>@item.Key[2]</td>
            <td>@item.Value</td>
        </tr>
    }

</table>



