/* The navigation bar */
.bottomnavbar {
    overflow: hidden;
    background-color: darkgreen;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%;
    margin: auto;
    z-index: 10;
    color: #f2f2f2;
    text-align: center;
    height: 50px;
}

/* Links inside the navbar */
.bottomnavbar p {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    padding: 30px;
    text-decoration: none;
}

/* Main content */
.body-content {
    margin-bottom: 40px; /* Add a top margin to avoid content overlay */
}
